main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 160px;
    padding-bottom: 50px;
}

.field_spacing {
	padding: 5px;
}

.wordbox {
    text-align: center;
    height: 50px;
	font-size: 18px;
	padding: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.wordbox:hover {
	font-size: 22px;
	font-weight: bold;
}

body {
	text-align: center;
	font-family: monospace;
	font-size: 16px;
}

nav {
	width: 100%;
	font-size: 30px;
	height: 150px;
	position: fixed;
	background-color: darkgray;
}

form {
	font-family: monospace;
	font-size: 18px;
	padding-top: 160px;
}

div#form_field {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div#submit_button {
    text-align: center;
    font-family: monospace;
}

div#word_def_group {
	background-color: lightgray;
    position: fixed;
    top: 150px;
    bottom: 35px;
	overflow-y: scroll;
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	font-weight: bold;
}

div#word_def_close {
	border-style: solid;
	text-align: center;
	background-color: red;
	padding: 10px;
    cursor: pointer;
}

div#word_definition {
	text-align: left;
	padding: 10px;
}

.word_def_group_on {
	top: 150px;
	display: block;
	width: 100%;
}

.word_def_group_off {
	display: none;
}

.list_normal {
	font-weight: normal;
}

footer {
	position: fixed;
	bottom: 0;
	font-size: 18px;
	text-align: center;
	background-color: darkgray;
	height: 30px;
	width: 100%;
	z-index: 1;
	padding: 10px;
}

.errors {
	color: red;
	text-align: left;
}