<html>
    <head>
	<meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/wordstyle.css">
    </head>
    <body>
        {% block navbar %}
        <nav>
            <p>Word Finder</p>
            <p>{{ name }}</p>
        </nav>
        {% endblock %}

        {% block definition %}
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}

        <footer>
            Click on <a href="https://github.com/abhisheksahoo91/WordList.git">this link </a> to view the source code maintained in Github
        </footer>
        <script type="text/javascript" src="/static/script_words.js"></script>
    </body>
</html>
